---
// 导入StuCard组件
import StuCard from "../components/StuCard.astro";
---

<!DOCTYPE html>
<html lang="zh">
    <img src="https://image.so.com/i?q=%E4%B8%9D%E7%BB%B8%E4%B9%8B%E8%B7%AF&listsrc=sobox&listsign=b3214e0fa3640c7eada34fa24209c0ba&src=360pic_normal" alt="丝绸之路">
<head>
    <!-- 指定字符编码为UTF-8 -->
    <meta charset="UTF-8">
    <title>学生信息页面</title>
    <!-- 其他头部信息，如<link>, <script>等 -->
</head>
<body>
    <!-- 渲染StuCard组件 -->
    <StuCard name="小丽" number="P222" major="电气工程">
        <p>介绍信</p>
    </StuCard>
    <StuCard name="小红" number="P333" major="生物制药"></StuCard>
    <StuCard name="小白" number="P444" major="播音主持"></StuCard>
</body>
</html>