<a href="/">首页</a>
<a href="/about/">介绍</a>
<a href="/sichouzhilu/">丝绸之路</a>
<a href="/students/">学生信息</a>
<a href="/index1/">详情</a>


<style>
  a {
    color: rgb(75, 148, 212);
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    transition: color 0.3s ease; /* 平滑过渡颜色变化 */
  }

  a:hover {
    color: lightblue; /* 鼠标悬停时改变颜色 */
  }

  /* 可以添加一些动画效果，例如点击后的放大效果 */
   clickEffect {
    50% { transform: scale(1.1); }
  }

  a:active {
    animation: clickEffect 0.5s;
  }
</style>