---
// 导入Navigation组件
import Navigation from '../components/Navigation.astro';
// 从Astro.props获取title属性
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 使用传入的title属性设置页面标题 -->
    <title>{title}</title>
    <!-- 引入CSS样式文件 -->
    <link rel="stylesheet" href="/styles.css">
    <!-- 其他头部信息，如favicon等 -->
</head>
<body>
    <main>

    </main>
    <!-- 渲染Navigation组件 -->
    <Navigation />

    <!-- 页面主要内容区域 -->
    <main>
        <!-- 页面的主要内容将在这里插入 -->
    </main>

    <!-- 其他页面部分，例如页脚等 -->

    <style>
        /* 在这里添加组件的CSS样式 */
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: aqua;
            margin: 2em auto;
        }
        /* 可以添加更多样式 */
    </style>
</body>
</html>